/* Nav bar */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
}

.brand-title {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5rem;
  margin: auto;
  position: absolute;
  padding-left: 8rem;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  font-family: 'Courier New', Courier, monospace;
  text-decoration: none;
  color: white;
  padding: 1rem;
  display: block;
}

.navbar-links li:hover {
  background-color: #555;

}

.toggle-button {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 31px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

.heading {
  display: block;
  text-align: center;
  font-weight: bold;
  font-variant: small-caps;
  font-size: 1.5rem;
}

/* gif */
/* .gif {
  background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  height: 400px;
  background-position: center;
  max-width: 700px;
  margin: auto;
  } */

/* Footer */
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #333;
  height: auto;
  width: 100vw;
  font-family: "Open Sans";
  padding-top: 20px;
  color: white;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer h3{
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.8rem;
  font-weight: 400;
  /* text-transform: capitalize; */
  line-height: 3rem;
  text-align: center;
  margin: auto;
}

.footer p{
  font-family: 'Courier New', Courier, monospace;
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}

/* Social Menu */
.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 3rem 1rem 0;
}

.socials li{
  margin: 0 10px;
}

.socials a{
  text-decoration: none;
  color: white;
}

.socials a i{
  font-size: 1.1rem;
  transition: color .4s ease;
}

.socials a:hover i{
  color: cornflowerblue;
}

/* Copyright */
.footer-bottom {
  background-color: black;
  width: 100vw;
  padding: 10px 0;
  text-align: center;
}

.footer-bottom p{
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}

.footer-bottom span {
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}

.logo-bw {
  display: block;
  margin: auto;
  background-color: white;
}

/* Media Query */
@media (max-width: 800px) {
  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links li {
    text-align: center;
  }

  .navbar-links li a {
    padding: .5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }

  .footer {
    display: flex;
  }

  .socials {
    display: flex;
  }

  .brand-title {
    display: flex;
    padding-top: 2.3rem;
  }
} 